@{
    ViewData["Title"] = "Cash Register";
}


<div class="container">
    <h1 align="center">Cash register</h1>
    <p>Total purchases: <span id="total_purchases"></span></p>
    <p>Total preceeds: <span id="total_preceeds"></span> $</p>
    <p>Today purchases: <span id="today_purchases"></span></p>
    <p>Today preceeds: <span id="today_preceeds"></span> $</p>

    <hr />
    <select asp-items="@ViewBag.ProductsSelect" id="selected_product" class="form-control custom-form-control"></select>
    <i class="fa fa-plus-square fa-2x" id="add_btn" aria-hidden="true" onclick="addProduct()"></i>

    <button class="btn-primary" id="new_purchase_btn" onclick="showPurchaseGui()" style="display: none">Make another purchase</button>

    <table class="table table-striped custom-table-stripped" id="products-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Amount</th>
                <th>Price (of 1 unit)$</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <button class="btn-success" id="check_btn" onclick="checkHandler()" style="display: none">Get check</button>
</div>

<script>
    var ajaxUrl = '@Url.Action("PerformPurchase", "Home")';
</script>
